body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: 'Arial', sans-serif;
    background-color: #faf8ef;
}

#game-container {
    width: 100%;
    max-width: 400px;
    aspect-ratio: 1; /* Ensures the container is always square */
    background-color: #bbada0;
    border-radius: 10px;
    padding: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#player-name-container {
    text-align: center;
    margin-bottom: 10px;
}

#player-name {
    font-size: 18px;
    padding: 5px;
    border-radius: 5px;
    border: none;
    margin-left: 10px;
}

#move-counter {
    font-size: 24px;
    color: #776e65;
    margin-bottom: 15px;
    text-align: center;
    font-weight: bold;
}

#grid-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 15px;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}

.grid-cell {
    width: 100%;
    padding-top: 100%; /* Keeps the cells square */
    background-color: #cdc1b4;
    border-radius: 5px;
    position: relative;
    box-sizing: border-box;
}

.grid-cell > div {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    font-weight: bold;
    color: #776e65;
}

#last-players {
    margin-top: 15px;
    color: #776e65;
}

#last-players ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    font-size: 16px;
}

.tile-2 { background-color: #eee4da; }
.tile-4 { background-color: #ede0c8; }
.tile-8 { background-color: #f2b179; color: #f9f6f2; }
.tile-16 { background-color: #f59563; color: #f9f6f2; }
.tile-32 { background-color: #f67c5f; color: #f9f6f2; }
.tile-64 { background-color: #f65e3b; color: #f9f6f2; }
.tile-128 { background-color: #edcf72; color: #f9f6f2; }
.tile-256 { background-color: #edcc61; color: #f9f6f2; }
.tile-512 { background-color: #edc850; color: #f9f6f2; }
.tile-1024 { background-color: #edc53f; color: #f9f6f2; }
.tile-2048 { background-color: #edc22e; color: #f9f6f2; }
